apache-airflow
apache-airflow-providers-snowflake
snowflake-connector-python
snowflake-sqlalchemy
psycopg2-binary
cryptography
pyopenssl
pyodbc
--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.10.3/constraints-3.11.txt"

# Formatters / linters
ruff==0.6.9
sqlfluff[snowflake]
pre-commit