name: airflow_jfb_cicd

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: manual-approval
    steps:
      - uses: actions/checkout@v4
      - run: echo "Running after manual approval"
